<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>The Resto</title>
    <link rel="icon" href="./images/logo.png" type="image/png" />

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <a href="#main" class="skip-link">Ke Konten Utama</a>
    <header>
      <div class="container">
        <div class="header-content">
          <a href="/" aria-label="Calm Headphones" class="brand-name">
            <img src="./images/resto-logo.png" alt="Restaurant logo" />
          </a>

          <nav id="main-nav">
            <ul id="navList" class="navlist">
              <li><a href="#home">Home</a></li>
              <li><a href="#favorite">Favorite</a></li>
              <li>
                <a
                  href="https://www.linkedin.com/in/lukman-eka-arifandhi-0225469b/"
                  target="_blank"
                  >About Us</a
                >
              </li>
            </ul>
          </nav>

          <button id="drawer-button" class="drawer-button">☰</button>
        </div>
      </div>
    </header>

    <main class="main-content container">
      <section class="hero">
        <article class="hero__content">
          <h2>Savor Every Moment</h2>
          <p>
            Not just a place to dine—where flavors meet ambiance, and every meal
            tells a story.
          </p>
          <button id="search-button">Search</button>
        </article>

        <article class="hero__image">
          <img src="./images/heros/hero-image.jpg" alt="Restaurant image" />
        </article>
      </section>
      <section class="restolist" id="main">
        <h2 class="section-title">Choose Your Favorite Restaurant</h2>

        <div id="restoList" class="resto-list"></div>
      </section>
    </main>

    <footer>
      <div class="container">
        <p class="copyright">
          Copyright 2024 &copy; - The Resto. All rights reserved
        </p>
      </div>
    </footer>

    <template id="restoitemtemplate">
      <article class="resto-list__item" data-restoid="RESTAURANT_ID">
        <div class="card">
          <div class="card-image">
            <img
              id="restoImage"
              src="https://restaurant-api.dicoding.dev/images/medium/41"
              alt="RESTAURANT NAME"
            />
          </div>
          <div class="card-body">
            <div id="restoRating" class="card-body__copyright">
              RESTAURANT RATING
            </div>
            <h3 id="restoName" class="card-body__title">RESTAURANT NAME</h3>
            <div id="restoDescription" class="card-body__copyright">
              RESTAURANT DESCRIPTION
            </div>
          </div>
        </div>
      </article>
    </template>
  </body>
</html>
